@import "tailwindcss";

html, body {
  overscroll-behavior: none;
}

:root {
  /* Backgrounds */
  --color-bg-primary: #25343F;
  --color-bg-surface: #EAEFEF;
  --color-bg-card: #FFFFFF;

  /* Text */
  --color-text-primary: #25343F;
  --color-text-secondary: #596A78;

  /* Accent */
  --color-accent: #FF9B51;
  --color-accent-light: #FFF9B5;
}

/* Optional dark mode future support */
.dark {
  --color-bg-primary: #25343F;
  --color-bg-surface: #2F3A44;
  --color-bg-card: #1f2b34;

  --color-text-primary: #EAEFEF;
  --color-text-secondary: #BFC9D1;
}